<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='' name='description'>
<!-- Bootstrap Core CSS -->
<link href='../../views/css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
<div class='container'>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
Once Upon a Time in the West ()
</h4>
<h6 class='card-subtitle mb-2'>
Italy, 
1968
</h6>
<p class='card-text'>
<strong>Sergio Leone</strong>
</p>
<p class='card-text'>
Western
</p>
<p class='card-text'>
Starring:
Henry Fonda, Charles Bronson, Claudia Cardinale
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
Wild Tales ()
</h4>
<h6 class='card-subtitle mb-2'>
Argentina, 
2014
</h6>
<p class='card-text'>
<strong>Damián Szifrón</strong>
</p>
<p class='card-text'>
Comedy, Drama, Thriller
</p>
<p class='card-text'>
Starring:
Darío Grandinetti, María Marull, Mónica Villa
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
Django Unchained ()
</h4>
<h6 class='card-subtitle mb-2'>
USA, 
2012
</h6>
<p class='card-text'>
<strong>Quentin Tarantino</strong>
</p>
<p class='card-text'>
Western
</p>
<p class='card-text'>
Starring:
Jamie Foxx, Christoph Waltz, Leonardo DiCaprio
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
Kill Bill: Vol. 1 ()
</h4>
<h6 class='card-subtitle mb-2'>
USA, 
2003
</h6>
<p class='card-text'>
<strong>Quentin Tarantino</strong>
</p>
<p class='card-text'>
Action
</p>
<p class='card-text'>
Starring:
Uma Thurman, David Carradine, Daryl Hannah
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
The Help ()
</h4>
<h6 class='card-subtitle mb-2'>
USA, 
2011
</h6>
<p class='card-text'>
<strong>Tate Taylor</strong>
</p>
<p class='card-text'>
Drama
</p>
<p class='card-text'>
Starring:
Emma Stone, Viola Davis, Octavia Spencer
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
M ()
</h4>
<h6 class='card-subtitle mb-2'>
Germany, 
1931
</h6>
<p class='card-text'>
<strong>Fritz Lang</strong>
</p>
<p class='card-text'>
Crime, Drama, Thriller
</p>
<p class='card-text'>
Starring:
Peter Lorre, Ellen Widmann, Inge Landgut
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
The Imitation Game ()
</h4>
<h6 class='card-subtitle mb-2'>
UK, 
2014
</h6>
<p class='card-text'>
<strong>Morten Tyldum</strong>
</p>
<p class='card-text'>
Biography, Drama, Thriller
</p>
<p class='card-text'>
Starring:
Benedict Cumberbatch, Keira Knightley, Matthew Goode
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
A Clockwork Orange ()
</h4>
<h6 class='card-subtitle mb-2'>
UK, 
1971
</h6>
<p class='card-text'>
<strong>Stanley Kubrick</strong>
</p>
<p class='card-text'>
Crime, Drama, Sci-Fi
</p>
<p class='card-text'>
Starring:
Malcolm McDowell, Patrick Magee, Michael Bates
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
Indiana Jones and the Last Crusade ()
</h4>
<h6 class='card-subtitle mb-2'>
USA, 
1989
</h6>
<p class='card-text'>
<strong>Steven Spielberg</strong>
</p>
<p class='card-text'>
Action, Adventure
</p>
<p class='card-text'>
Starring:
Harrison Ford, Sean Connery, Alison Doody
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640/'>
<div class='card-body'>
<h4 class='card-title'>
Monty Python and the Holy Grail ()
</h4>
<h6 class='card-subtitle mb-2'>
UK, 
1975
</h6>
<p class='card-text'>
<strong>Terry Gilliam</strong>
</p>
<p class='card-text'>
Adventure, Comedy, Fantasy
</p>
<p class='card-text'>
Starring:
Graham Chapman, John Cleese, Eric Idle
</p>
</div>
</div>
</div>
</div>
</div>
<!-- Bootstrap Core JavaScript -->
<!-- ================================================================================= -->
<!-- Placed at the end of the document so that pages can load faster. -->
<script src='../../views/js/bootstrap.min.js'></script>
</body>
</html>
