<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='' name='description'>
<!-- Bootstrap Core CSS -->
<link href='../../views/css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
<div class='container'>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//k4SlXMkoosIiWC8toXywDqpVOSW.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Gran Torino (Гран Торино)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2008
</h6>
<p class='card-text'>
<strong>Clint Eastwood</strong>
</p>
<p class='card-text'>
Drama
</p>
<p class='card-text'>
Starring:
Clint Eastwood, Bee Vang, Christopher Carley
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//8qvThsPPl1tA7da7obGuGdusvfn.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Howl's Moving Castle (Ходячий замок)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
Japan, 
2004
</h6>
<p class='card-text'>
<strong>Hayao Miyazaki</strong>
</p>
<p class='card-text'>
Animation, Adventure, Family
</p>
<p class='card-text'>
Starring:
Chieko Baishô, Takuya Kimura, Tatsuya Gashûin
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//eUfj1NXxd7yIiCrqAOUm1MYL2CQ.jpg'>
<div class='card-body'>
<h4 class='card-title'>
The Killing (Убийство)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1956
</h6>
<p class='card-text'>
<strong>Stanley Kubrick</strong>
</p>
<p class='card-text'>
Crime, Film-Noir, Thriller
</p>
<p class='card-text'>
Starring:
Sterling Hayden, Coleen Gray, Vince Edwards
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//meHvC3nTKd2jE4oSytADtGjR09l.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Who's Afraid of Virginia Woolf? (Кто боится Вирджинии Вульф?)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1966
</h6>
<p class='card-text'>
<strong>Mike Nichols</strong>
</p>
<p class='card-text'>
Drama, Romance
</p>
<p class='card-text'>
Starring:
Elizabeth Taylor, Richard Burton, George Segal
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//w5TgIUazLfwORZkBJW8RqlKMIdq.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Shutter Island (Остров проклятых)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2010
</h6>
<p class='card-text'>
<strong>Martin Scorsese</strong>
</p>
<p class='card-text'>
Mystery, Thriller
</p>
<p class='card-text'>
Starring:
Leonardo DiCaprio, Emily Mortimer, Mark Ruffalo
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//xKAweeF2ZPMNn6ce4GclSbr59Pv.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Cinema Paradiso (Новый кинотеатр «Парадизо»)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
Italy, 
1988
</h6>
<p class='card-text'>
<strong>Giuseppe Tornatore</strong>
</p>
<p class='card-text'>
Comedy, Drama
</p>
<p class='card-text'>
Starring:
Philippe Noiret, Enzo Cannavale, Antonella Attili
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//nAFNjbxfxfcwT5wWj30thTbj9fE.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Reservoir Dogs (Бешеные псы)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1992
</h6>
<p class='card-text'>
<strong>Quentin Tarantino</strong>
</p>
<p class='card-text'>
Crime, Drama
</p>
<p class='card-text'>
Starring:
Harvey Keitel, Tim Roth, Michael Madsen
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//6DXeXL6WTNptP9HrhfUvZyEhlqD.jpg'>
<div class='card-body'>
<h4 class='card-title'>
The Truman Show (Шоу Трумана)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1998
</h6>
<p class='card-text'>
<strong>Peter Weir</strong>
</p>
<p class='card-text'>
Drama
</p>
<p class='card-text'>
Starring:
Jim Carrey, Ed Harris, Laura Linney
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//9FUpxLg2v8WVADuz52b8z0gOKsC.jpg'>
<div class='card-body'>
<h4 class='card-title'>
V for Vendetta («V» значит Вендетта)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2005
</h6>
<p class='card-text'>
<strong>James McTeigue</strong>
</p>
<p class='card-text'>
Action, Drama, Thriller
</p>
<p class='card-text'>
Starring:
Hugo Weaving, Natalie Portman, Rupert Graves
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//c5n4e9AwUC914PYgeCHCmufIlAF.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Unforgiven (Непрощенный)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1992
</h6>
<p class='card-text'>
<strong>Clint Eastwood</strong>
</p>
<p class='card-text'>
Western
</p>
<p class='card-text'>
Starring:
Clint Eastwood, Gene Hackman, Morgan Freeman
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='card-deck'>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//8ipMMbjgAA9M4wpoPc9yxFEiIeA.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Bicycle Thieves (Похитители велосипедов)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
Italy, 
1948
</h6>
<p class='card-text'>
<strong>Vittorio De Sica</strong>
</p>
<p class='card-text'>
Drama
</p>
<p class='card-text'>
Starring:
Lamberto Maggiorani, Enzo Staiola, Lianella Carell
</p>
</div>
</div>
<div class='card text-white bg-info mb-3' style='width: 30rem;'>
<img alt='Poster image' class='card-img-top' src='https://image.tmdb.org/t/p/w640//bNwCcAvCRguxXqSjPgSr6mgrX0A.jpg'>
<div class='card-body'>
<h4 class='card-title'>
Interstellar (Интерстеллар)
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2014
</h6>
<p class='card-text'>
<strong>Christopher Nolan</strong>
</p>
<p class='card-text'>
Adventure, Drama, Sci-Fi
</p>
<p class='card-text'>
Starring:
Matthew McConaughey, Anne Hathaway, Jessica Chastain
</p>
</div>
</div>
</div>
</div>
</div>
<!-- Bootstrap Core JavaScript -->
<!-- ================================================================================= -->
<!-- Placed at the end of the document so that pages can load faster. -->
<script src='../../views/js/bootstrap.min.js'></script>
</body>
</html>
