<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='' name='description'>
<!-- Bootstrap Core CSS -->
<link href='css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
<div class='container'>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Nausicaä of the Valley of the Wind
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
Japan, 
1984
</h6>
<p class='card-text'>
<strong>Hayao Miyazaki</strong>
</p>
<p class='card-text'>
Animation, Adventure, Fantasy
</p>
<p class='card-text'>
Starring:
Sumi Shimamoto, Mahito Tsujimura, Hisako Kyôda
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Requiem for a Dream
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2000
</h6>
<p class='card-text'>
<strong>Darren Aronofsky</strong>
</p>
<p class='card-text'>
Drama
</p>
<p class='card-text'>
Starring:
Ellen Burstyn, Jared Leto, Jennifer Connelly
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Hotel Rwanda
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
UK, 
2004
</h6>
<p class='card-text'>
<strong>Terry George</strong>
</p>
<p class='card-text'>
Drama, History, War
</p>
<p class='card-text'>
Starring:
Don Cheadle, Sophie Okonedo, Joaquin Phoenix
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Lock, Stock and Two Smoking Barrels
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
UK, 
1998
</h6>
<p class='card-text'>
<strong>Guy Ritchie</strong>
</p>
<p class='card-text'>
Comedy, Crime
</p>
<p class='card-text'>
Starring:
Jason Flemyng, Dexter Fletcher, Nick Moran
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Apocalypse Now
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1979
</h6>
<p class='card-text'>
<strong>Francis Ford Coppola</strong>
</p>
<p class='card-text'>
Drama, War
</p>
<p class='card-text'>
Starring:
Martin Sheen, Marlon Brando, Robert Duvall
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
The Wolf of Wall Street
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2013
</h6>
<p class='card-text'>
<strong>Martin Scorsese</strong>
</p>
<p class='card-text'>
Biography, Comedy, Crime
</p>
<p class='card-text'>
Starring:
Leonardo DiCaprio, Jonah Hill, Margot Robbie
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Star Wars: Episode V - The Empire Strikes Back
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1980
</h6>
<p class='card-text'>
<strong>Irvin Kershner</strong>
</p>
<p class='card-text'>
Action, Adventure, Fantasy
</p>
<p class='card-text'>
Starring:
Mark Hamill, Harrison Ford, Carrie Fisher
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Blade Runner
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1982
</h6>
<p class='card-text'>
<strong>Ridley Scott</strong>
</p>
<p class='card-text'>
Sci-Fi, Thriller
</p>
<p class='card-text'>
Starring:
Harrison Ford, Rutger Hauer, Sean Young
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Forrest Gump
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1994
</h6>
<p class='card-text'>
<strong>Robert Zemeckis</strong>
</p>
<p class='card-text'>
Drama, Romance
</p>
<p class='card-text'>
Starring:
Tom Hanks, Robin Wright, Gary Sinise
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
The Sting
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1973
</h6>
<p class='card-text'>
<strong>George Roy Hill</strong>
</p>
<p class='card-text'>
Comedy, Crime, Drama
</p>
<p class='card-text'>
Starring:
Paul Newman, Robert Redford, Robert Shaw
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Toy Story
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1995
</h6>
<p class='card-text'>
<strong>John Lasseter</strong>
</p>
<p class='card-text'>
Animation, Adventure, Comedy
</p>
<p class='card-text'>
Starring:
Tom Hanks, Tim Allen, Don Rickles
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Incendies
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
Canada, 
2010
</h6>
<p class='card-text'>
<strong>Denis Villeneuve</strong>
</p>
<p class='card-text'>
Drama, Mystery, War
</p>
<p class='card-text'>
Starring:
Lubna Azabal, Mélissa Désormeaux-Poulin, Maxim Gaudette
</p>
</div>
</div>
</div>
</div>
</div>
<!-- Bootstrap Core JavaScript -->
<!-- ================================================================================= -->
<!-- Placed at the end of the document so that pages can load faster. -->
<script src='js/bootstrap.min.js'></script>
</body>
</html>
