<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='' name='description'>
<!-- Bootstrap Core CSS -->
<link href='css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
<div class='container'>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
The Dark Knight Rises
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2012
</h6>
<p class='card-text'>
<strong>Christopher Nolan</strong>
</p>
<p class='card-text'>
Action, Thriller
</p>
<p class='card-text'>
Starring:
Christian Bale, Tom Hardy, Anne Hathaway
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Howl's Moving Castle
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
Japan, 
2004
</h6>
<p class='card-text'>
<strong>Hayao Miyazaki</strong>
</p>
<p class='card-text'>
Animation, Adventure, Family
</p>
<p class='card-text'>
Starring:
Chieko Baishô, Takuya Kimura, Tatsuya Gashûin
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Memento
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2000
</h6>
<p class='card-text'>
<strong>Christopher Nolan</strong>
</p>
<p class='card-text'>
Mystery, Thriller
</p>
<p class='card-text'>
Starring:
Guy Pearce, Carrie-Anne Moss, Joe Pantoliano
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Barry Lyndon
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
UK, 
1975
</h6>
<p class='card-text'>
<strong>Stanley Kubrick</strong>
</p>
<p class='card-text'>
Adventure, Drama, History
</p>
<p class='card-text'>
Starring:
Ryan O'Neal, Marisa Berenson, Patrick Magee
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
The Apartment
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1960
</h6>
<p class='card-text'>
<strong>Billy Wilder</strong>
</p>
<p class='card-text'>
Comedy, Drama, Romance
</p>
<p class='card-text'>
Starring:
Jack Lemmon, Shirley MacLaine, Fred MacMurray
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Before Sunrise
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1995
</h6>
<p class='card-text'>
<strong>Richard Linklater</strong>
</p>
<p class='card-text'>
Drama, Romance
</p>
<p class='card-text'>
Starring:
Ethan Hawke, Julie Delpy, Andrea Eckert
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Ran
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
Japan, 
1985
</h6>
<p class='card-text'>
<strong>Akira Kurosawa</strong>
</p>
<p class='card-text'>
Action, Drama, War
</p>
<p class='card-text'>
Starring:
Tatsuya Nakadai, Akira Terao, Jinpachi Nezu
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Who's Afraid of Virginia Woolf?
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1966
</h6>
<p class='card-text'>
<strong>Mike Nichols</strong>
</p>
<p class='card-text'>
Drama, Romance
</p>
<p class='card-text'>
Starring:
Elizabeth Taylor, Richard Burton, George Segal
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Rear Window
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
1954
</h6>
<p class='card-text'>
<strong>Alfred Hitchcock</strong>
</p>
<p class='card-text'>
Mystery, Thriller
</p>
<p class='card-text'>
Starring:
James Stewart, Grace Kelly, Wendell Corey
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
The Help
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2011
</h6>
<p class='card-text'>
<strong>Tate Taylor</strong>
</p>
<p class='card-text'>
Drama
</p>
<p class='card-text'>
Starring:
Emma Stone, Viola Davis, Octavia Spencer
</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Lock, Stock and Two Smoking Barrels
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
UK, 
1998
</h6>
<p class='card-text'>
<strong>Guy Ritchie</strong>
</p>
<p class='card-text'>
Comedy, Crime
</p>
<p class='card-text'>
Starring:
Jason Flemyng, Dexter Fletcher, Nick Moran
</p>
</div>
</div>
</div>
<div class='col-sm-6'>
<div class='card' style='width: 30rem;'>
<div alt='Poster image' class='card-img-top img' src='#'></div>
<div class='card-body'>
<h4 class='card-title'>
Batman Begins
</h4>
<h6 class='card-subtitle mb-2 text-muted'>
USA, 
2005
</h6>
<p class='card-text'>
<strong>Christopher Nolan</strong>
</p>
<p class='card-text'>
Action, Adventure
</p>
<p class='card-text'>
Starring:
Christian Bale, Michael Caine, Ken Watanabe
</p>
</div>
</div>
</div>
</div>
</div>
<!-- Bootstrap Core JavaScript -->
<!-- ================================================================================= -->
<!-- Placed at the end of the document so that pages can load faster. -->
<script src='js/bootstrap.min.js'></script>
</body>
</html>
